<% content_for :about_state,"active" #sets state for tab bar -%>
<%= render :partial => "help/tabs" %>
<div class="nestedTabbedArea">
	<%= render :partial => "help/header" %>
	<div>
		<!--table>
			<thead style="background-color:gray; width:100%; color:white; font-weight:bold;min-width: 500px;" cellpadding="5">
				<tr>
					<td>System/Service</td>
					<td>Description</td>
				</tr>
			</thead>
		</table -->
		Coming Soon!
	</div>
</div>