<% content_for :ask_state, "active" #sets state for tab bar -%>
<%= render :partial => "underwriting/tabs" %>
<div class="nestedTabbedArea">
	<div>
		<h3>Ask an Underwriting Question</h3>
		<p>Underwriting is an Art, Not a Science…Let us help you paint the right picture! Our in-house underwriter, on-staff MD, and ability to summarize medical records in as little as 24 hours are powerful tools available to you. We encourage you to bring us your impaired risk cases, both large and small to see how the EZLife Underwriting Team can help you and your clients get the best offers available.</p>

		<!--ul class="dashedList">
		    <li-->
		        <%= link_to "Email Your Underwriting Question", "mailto:underwriting@EZLifeSales.com" %>
		    <!--/li>
		</ul-->
	</div>
</div>