<% content_for :xrae_state,"active" #sets state for lower tab bar -%>
<%= render :partial => "underwriting/tabs" %>
<div class="nestedTabbedArea">
	<div>
		<p>The multi-carrier XRAE health screening tool was designed to help you with the initial collection and analysis of client medical information. XRAE will help you build each sale on a solid foundation by guiding you through the collection of important data, the accurate application of carrier underwriting rules, and the quoting of the correct underwriting class and pricing.</p>
		<a href="https://direct.xrae.com/PinneyExternal/New/01F20F96">
			<img src="/assets/button-xrae.png" style="display:block; margin:0 auto;" />
		</a>
	</div>
</div>