<% content_for :contracting_state,"active" #sets state for tab bar -%>
<%= render :partial => "sales_tools/tabs" %>
<div class="nestedTabbedArea">
	<div>
		<iframe src="https://appoint.cmsmenu.com/clients/pinney/mainpage.asp" style="width:100%;min-height:550px;">
	</div>
</div>