<% content_for :planning_state,"active" #sets state for tab bar -%>
<%= render :partial => "sales_tools/tabs" %>
<div class="nestedTabbedArea">
	<div>
		<h3>Advanced Markets Online Library</h3>
		<p>Advanced Markets Online (AMO) offers a comprehensive and user-friendly library designed to provide helpful, current information on a wide variety of financial topics. AMO will help you define concepts, explain how they work, examine tax consequences, discuss key advantages/disadvantages, identify planning/funding considerations, and help you to find answers to complex subjects quickly and easily.</p>
		<ul class="dashedList">
		    <li>
		    	<%= link_to "Advanced Markets Online", "http://www.pgih02.biz/4735/amo/amo.htm" %>
		    </li>
			<li>
		    	<%= link_to "Advanced Markets Online Documents", "http://www.pgih02.biz/4735/docs/DocsMenu.htm" %>
		    </li>
		</ul>
		<h3>Custom Sales Tools</h3>
		<p>This Section Is Coming Soon!</p>
	</div>
</div>