<div class="modal-header">
  <button type="button" class="close" id="button-close-crm-note-modal">×</button>
  <h3 id="myModalLabel">Create Note</h3>
</div>
<div class="modal-body">
  <%= form_for @new_crm_note, :remote => true do |f| %>
    <%= render :partial => "form", :locals => {:f=>f}%>
    <div class="row">
      <div class="span2"></div>
      <div class="span3">
        <%= f.check_box :confidential %> Confidential
      </div>
      <div class="span3">
        <button type="button" id="new-note-modal-form-submit" class="btn btn-primary ajax">Create</button>
      </div>
    </div>
  <% end %>
</div>
