<%= render :partial => "shared/tab/marketing", :locals => {:selected => "SmtpServer"} %>
<div class="navbar">
	<div class="navbar-inner"><h4 style="color:black">Update Smtp Server Configuration</h4></div>
</div>
<%= render :partial => 'form'%>
