#quoter_pane {
  #financial-needs-calculator {
    .header {
      background: blue;
      color: white;
    }
    div#analyze {
      background: yellow
    }
  }
  #coverage-recommendations {
    input {
      width: 10em;
    }
  }
}

.inline-block {
  display: inline-block;
}