<div id="search-filter-bar">
	<div id="search-filter-text">Search Filters:</div>&nbsp;&nbsp;
	<div id="search-filters">
		<div>Example Filter <a href="#"><span class="icon-large icon-remove-sign filter-icon"></span></a></div>
	</div>
</div>