<label>Select SnailMail template</label>
<input id="edit-marketing-snail-mail-template" class="ajax" type="text" data-action="edit" data-base_url="/marketing/snail_mail/templates/" data-autocomplete="/marketing/snail_mail/templates/autocomplete_marketing_snail_mail_templates_name">
