<h4>Avocation Information</h4>

<p class=pull-right>
	<%= radio_and_label_tag_sets(:hazardous_avocation, form:f).join("\n").html_safe %>
</p>
<p>Do you participate in any hazardous activities like racing or motor sports, hang gliding, piloting, rock climbing, scuba diving, or skydiving?</p>