<h4>Criminal History Information</h4>

<p class=pull-right>
	<%= radio_and_label_tag_sets(:criminal, form:f).join("\n").html_safe %>
</p>
<p>Are you currently on parole or probation, OR have you ever been convicted of a misdemeanor or felony?</p>