<%= render :partial => "shared/tab/marketing", :locals => {:selected => "EmailTemplates"} %>
<div style="background-color:#fff;">
<%= render :partial => "templates_autocomplate" %>
<div class="navbar">
	<div class="navbar-inner"><h4 style="color:black">Email Template</h4></div>
</div>
<%= render :partial => 'form'%>
