<%= render :partial => "shared/tab/system_management", :locals => {:selected => "Tagging Memberships"} %>
<div style="background-color:#fff; height:500px">
<div class="navbar">
	<div class="navbar-inner"><h4 style="color:black">New tagging membership</h4></div>
</div>
<div style="float:left; width:175px;">
 </div>
<div id="tag_keys" style="float:right; background-color:#d9deec; color:#000; width:80%; height:435px; overflow: auto;  ">
	<%= render 'form' %>
</div></div>










