<%= render :partial => "shared/tab/agency_management", :locals => {:tab => "users"} %>

<div class="row title-row">
  <div class="navbar-inner"><h4 class="title agency-management-row">Users</h4></div>
</div>

<div style="margin-left: 10px;" id="agency_users_boxes">
<%= render :partial => "agency_users_boxes" %>
</div>












