<%= render :partial => "shared/tab/agency_management", :locals => {:tab => "privileges"} %>
<div class="row title-row">
  <div class="navbar-inner"><h4 class="title agency-management-row">User Management</h4></div>
</div>

<div style="margin-left: 10px;" id="permissions_boxes">
<%= render :partial => "permissions_boxes" %>
</div>
