<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  <h3>Select Agent</h3>
</div>
<div class="modal-body">
  <input id="mass-assigning-agent" class="ajax" type="text" data-autocomplete="/usage/users/autocomplete_users_first_name">
</div>
